<!doctype html>
<html>
	<head>
		<meta name="ad.size" content="width=<%= props.width %>,height=<%= props.height %>">
		<meta name="ad.border.color" content="#000000">
		<meta name="ad.clicktag" content="true">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="styles.css">

		<!-- Only for DoubleClick Studio. (https://support.google.com/richmedia/answer/2745108?hl=fr&ref_topic=4525889) -->
		<!--script type="text/javascript" src="https://s0.2mdn.net/ads/studio/Enabler.js"> </script-->

		<!-- Only for Google AdWords. (https://support.google.com/adwordspolicy/answer/176108?hl=fr) -->
		<!--script type="text/javascript" src="https://tpc.googlesyndication.com/pagead/gadgets/html5/api/exitapi.js"> </script-->

		<script type="text/javascript">
			var clickTag = 'http://www.google.com'; //Google Display Network and DoubleClick Standard clicktag

			function onClickTag(event, type){
				if(Context.getType() == Context.ADSERVERS.NONE) return;

				event.preventDefault();
				event.stopPropagation();
				stage.pauseAllVideos();

				if(type) console.log('click -> ' + type);
				else console.log('click -> banner');

				if(Context.getType() === Context.ADSERVERS.STANDARD){ //Google Display Network and DoubleClick Standard clicktag
					window.open(window.clickTag, '_blank');
				} else if(Context.getType() === Context.ADSERVERS.ADGEAR) { //AdGear clicktag
					var oobClickTrack = Context.getParameterByName('agclick_oobclicktrack') || Context.getParameterByName('oobclicktrack');
					if(oobClickTrack  != null) { var img = new Image(); img.src = oobClickTrack; }
					window.open(window.clickTag, '_blank');
				} else if(Context.getType() === Context.ADSERVERS.DCM_RICH){ //DoubleClick Studio clicktag
					Enabler.exit('clicktag');
				} else if(Context.getType() === Context.ADSERVERS.ADWORDS){
					ExitApi.exit(); // Google AdWords (new clicktag)
				} else {
					console.log('*** Unknown adserver ***');
					window.open(window.clickTag, '_blank');
				}
			}
			function onClickHref(event, type){
				if(Context.getType() == Context.ADSERVERS.NONE) return;

				event.stopPropagation();
				stage.pauseAllVideos();

				if(type) console.log('click -> ' + type + ' -> '+ event.target.href);
				else console.log('click -> '+ event.target.href);
			}
		</script>
	</head>

	<body id="ad">
		<div id="stage" onclick="javascript:onClickTag(event)" ondragover="allowDrop(event) "ondrop="nodrop(event)">

			<div class="cta eleAnimation" onclick="javascript:onClickTag(event, 'cta')"></div>
			<a href='javascript:window.open(window.clickTag)' target="_blank"></a>

		</div>
	</body>

	<script type="text/javascript"></script>
	<script type="text/javascript" src="script.js"></script>
	<script type="text/javascript" src="lib.min.js"></script>
</html>
